.weather-container {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

.weather-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.weather-item {
    text-align: center;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
}

.forecast-day {
    font-size: 1.2rem;
}