.container {
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

input {
  padding: 20px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 60%;
  max-width: 300px;
  outline: none;
  margin-top: 30px;
  font-size: 1.4rem;
}

button {
  background-color: #ff9800;
  border: 0;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}

button:hover {
  background-color: #f57c00;
}
