.weather-container {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

h2 {
    font-size: 2rem;

}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 100px;
    }
}

.temperature {
    font-weight: bold;
    font-size: 2.5rem;
}

.description {
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.details p {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.no-search {
    margin-top: 5px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(100, 100, 100);
}
